<app-menu></app-menu>
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" mode="md">
      <ion-menu-button color="light" menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="font">
      <b>Home</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="new-body-color" mode="ios">
  <ion-grid>
    <ion-row class="pageTitle">
      <b>Precisa de um cavalo?</b>
    </ion-row>
    <ion-row class="pageSubTitle">
      Nós ajudamos você a encontrar um cavalo e ter uma boa viajem!
    </ion-row>
  </ion-grid>

  <ion-card mode="md" routerLink="/ride" class="card-class">
    <ion-card-content class="card-font-size">
      Para onde?
    </ion-card-content>
  </ion-card>
  <br>

  <ion-text class="pageTitle"><b>Perto de você:</b></ion-text>
    <div #map id="map"></div>
</ion-content>
