@import '../../theme/variables';

.pageTitle {
  justify-content: center;
  font-family: $font-text;
  color: $font-title-text-color;
  font-size: $font-size-page-title;
  padding: 10px;
}

.pageSubTitle {
  justify-content: center;
  font-family: $font-text;
  color: $font-title-text-color;
  font-size: $font-size-page-subtitle;
  padding: 10px;
}

.new-body-color {
  --background: White;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  --background: none;
  background-color: $header-background-color;
  font-family: $font-text;
}

.new-background-color {
  --background: none;
  background-color: $header-background-color;
}

.font {
  --color: none;
  font-family: $font-text;
  font-size: $font-size-header-title;
  color: $font-header-text-color;
}

.header-row {
  align-items: center;
}

.card-class {
  --background: none;
  background-color: #e5e5e5;
  font-family: $font-text;
  color: $font-body-text-color;
}

.card-font-size {
  font-size: $font-size-page-subtitle;
}

.map-img {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.img-title {
  font-family: $font-text;
  --color: none;
  color: $font-title-text-color;
  font-size: $font-size-header-title;
  padding-left: 10px;
}

#map{
  min-width: 100px;
  min-height: 100px;

  height: 59vh;
  margin: 10px 5px 10px 5px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 1%;
  border-color: $header-background-color;
}
