<app-menu></app-menu>
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" mode="md">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="font">
      <b>Home</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="pageTitle">
      <b>Precisa de um cavalo?</b>
    </ion-row>
    <ion-row class="pageSubTitle">
      Nós ajudamos você a encontrar um cavalo e ter uma boa viajem!
    </ion-row>
  </ion-grid>

  <ion-button class="button" expand="block" mode="md">Para onde?</ion-button>

  <div #map id="map"></div>
</ion-content>
