<ion-menu side="start" menuId="menu" contentId="content">
  <ion-content class="new-body-color" mode="md">
    <ion-list lines="none" mode="ios">
      <div class="padding-avatar">
        <ion-item>
          <ion-avatar class="item-avatar" slot="start">
            <img
              src="https://avatars.githubusercontent.com/u/51248056?s=400&u=6270dd02a70b3fda313059670d9002bb5f74b370&v=4">
          </ion-avatar>
          <ion-label>
            <h2><b>{{userName}}</b></h2>
            <h3>
              <b>5.00</b>
              <ion-icon name="star-sharp"></ion-icon>
            </h3>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-menu-toggle auto-hide="true">
      <ion-list lines="full" *ngFor="let p of pages">
        <ion-item [routerLink]="p.url" routerDirection="forward" (click)="logout(p)">
          <ion-icon color="dark" [name]="p.icon" slot="start"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>
