<ion-menu side="start" menuId="menu" contentId="main">
  <ion-content>
    <ion-list>
      <div class="padding-avatar">
        <ion-item>
          <ion-avatar class="item-avatar" slot="end">
            <img src="https://avatars.githubusercontent.com/u/44242141?v=4">
          </ion-avatar>
          <ion-label>
            <h3>Guilherme Santos</h3>
            <h3>5.00</h3>
          </ion-label>
        </ion-item>
      </div>
      <ion-item>
        <ion-label>Mensagens</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ganhe dinheiro cavalgando</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Suas Viagens</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pagamentos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ajuda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Configurações</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>