@import "../../theme/variables.scss";

.my-custom-menu {
    --width: 60%;
}
.item-avatar {
    width:100% !important;
    height : 100% !important;
    max-width: 50px !important;  //any size
    max-height: 50px !important; //any size
}
.padding-avatar {
    padding-top: 50px;
}
ion-label {
    font-family: $font-text !important;
}
