@import '../../theme/variables';


.new-body-color{
  --background: White;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-input {
  font-size: $font-size-page-subtitle;
}

#map{
  min-width: 100px;
  min-height: 100px;

  height: 68vh;
  margin: 10px 5px 10px 5px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 1%;
  border-color: $header-background-color;
}
ion-button{
  --background: none;
  background-color: $header-background-color;
}
