@import '../../theme/variables';

.new-background-color{
    --background: #79682C ;
}
.new-body-color{
  --background: White;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.map-img {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ion-input {
  font-size: $font-size-page-subtitle;
}

#map {
  height: 90%;
}
