@import '../../theme/variables';

.new-body-color{
  --background: White;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-searchbar {
  font-size: $font-size-page-subtitle - 3px;
  --color: $font-body-text-color;
}

#map{
  min-width: 100px;
  min-height: 100px;

  height: 68vh;
  margin: 10px 5px 10px 5px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 1%;
  border-color: $header-background-color;
}
.button{
  --background: none;
  background-color: $header-background-color;
  --border-radius: 1%;
}
.button-div{
  margin: 7px 7px 7px 7px;
}
ion-list{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ion-item{
  --border-color: #cccccc;
}
