<app-header title="Viagem"></app-header>
<ion-content fullscream class="new-body-color" mode="md">
  <div #map id="map">
    <div class="botaoVoltar">
      <ion-button fill="clear" id="backButton" size="large" (click)="voltar()" [hidden]="!destination">
        <ion-icon name="close-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
    <ion-toolbar slot="fixed" color="translucent">
      <ion-searchbar [(ngModel)]="actualLocation" (ionChange)="actualLocationChanged()" placeholder="{{actualClicked}}"
        [hidden]="destination">
      </ion-searchbar>
      <ion-list class="ion-margin-horizontal" lines="full" [hidden]="!actualLocation.length">
        <ion-item (click)="selectActualPoint(r)" *ngFor="let r of searchResultsActual">
          {{ r.description }}
        </ion-item>
      </ion-list>

      <ion-searchbar [(ngModel)]="toGoLocation" (ionChange)="toGoLocationChanged()" placeholder="{{toGoClicked}}"
        [hidden]="destination">
      </ion-searchbar>
      <ion-list class="ion-margin-horizontal" lines="full" [hidden]="!toGoLocation.length">
        <ion-item (click)="selectToGoPoint(results)" *ngFor="let results of searchResultsToGo">
          {{ results.description }}
        </ion-item>
      </ion-list>
    </ion-toolbar>

    <div class="request-horse" ion-padding ion-text-center [hidden]="!destination">
      <h4>Horse Ride</h4>
      <span>Melhores Viagens</span>

      <ion-grid class="ion-margin-vertical">
        <ion-row>
          <ion-col (click)="selecionarX()" class="active" id="horseX" size="4">
            <img src="https://i.imgur.com/ySMlqB6.png">
            <span class="category">HorseX</span>
            <span>R${{ valueHorseX }}</span>
          </ion-col>
          <ion-col (click)="selecionarConfort()" id="hConfort" size="4">
            <img src="https://i.imgur.com/ySMlqB6.png">
            <span class="category">Confort</span>
            <span>R${{ valueConfort }}</span>
          </ion-col>
          <ion-col (click)="selecionarBlack()" id="hBlack" size="4">
            <img src="https://i.imgur.com/ySMlqB6.png">
            <span class="category">Black</span>
            <span>R${{ valueBlack }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="button" (click)="calcularRota()" expand="block" routerLink="/make-a-ride">Confirmar
      </ion-button>
    </div>
  </div>

</ion-content>
