<app-header title="Viagem"></app-header>

<ion-content class="new-body-color" mode="ios">

  <ion-card mode="md">
    <ion-card-content>
      <ion-input color="dark" placeholder="Onde você está?"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card mode="md">
    <ion-card-content>
      <ion-input color="dark" placeholder="Para onde você vai?"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" slot="end">Confirmar</ion-button>
  <div #map id="map">
  </div>
</ion-content>
