<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="new-background-color">
    <ion-grid>
      <ion-row class="header-row">
        <ion-col>
          <ion-back-button [routerLink]="['/tela-login']" defaultHref="tela-login" color="light"></ion-back-button>
        </ion-col>
        <ion-col>
          <ion-title class="font"><b>Criar Conta</b></ion-title>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<br>

<ion-content [fullscreen]="true" class="new-body-color" mode="md">
  <strong>
    <ion-text class="ion-padding">Dados pessoais</ion-text>
  </strong>

  <br>
  <br>
  <ion-item>
    <ion-text>Nome</ion-text>
    <ion-label color="medium" position="floating">digite seu nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-text>Sobrenome</ion-text>
    <ion-label color="medium" position="floating">digite seu sobrenome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>
  <strong>
    <ion-text class="ion-padding">Contato</ion-text>
  </strong>

  <br>
  <br>
  <ion-item>
    <ion-text>E-mail</ion-text>
    <ion-label color="medium" position="floating">digite seu e-mail</ion-label>
    <ion-input [(ngModel)]="userRegister.email"></ion-input>
  </ion-item>

  <br>
  <strong>
    <ion-text class="ion-padding">Criar senha</ion-text>
  </strong>

  <br>
  <br>
  <ion-item>
    <ion-text>Senha (somente letras e números)</ion-text>
    <ion-label color="medium" position="floating">utilize de 6 a 10 caracteres</ion-label>
    <ion-input type="password" [(ngModel)]="userRegister.password"></ion-input>
  </ion-item>

  
  <ion-button class="ion-default-button" expand="block" (click)="register()">PRONTO</ion-button>
  

</ion-content>
