<app-header title="Seja Cavaleiro"></app-header>

<ion-content [fullscreen]="true" class="new-body-color" mode="md">
  <br>
<div class="ion-text-center">
  <strong>
    <ion-text class="font-body">Importante</ion-text>
  </strong>
</div>

  <br>
  <ion-text class="ion-padding"> <ion-checkbox> </ion-checkbox> Possuo um cavalo, ou pretendo alugar. </ion-text>

  <strong>
    <ion-text class="ion-padding">Dados pessoais</ion-text>
  </strong>

  <br>
  <br>
  <ion-item>
    <ion-text>Nome</ion-text>
    <ion-label color="medium" position="floating">digite seu nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-text>Sobrenome</ion-text>
    <ion-label color="medium" position="floating">digite seu sobrenome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-text>CPF</ion-text>
    <ion-label color="medium" position="floating">apenas números</ion-label>
    <ion-input></ion-input>
  </ion-item>





  <br>
  <br>
  <ion-button class="ion-default-button" expand="block">PRONTO</ion-button>
  <br>

</ion-content>
