<app-header title="Pagamentos"></app-header>

<ion-content [fullscreen]="true" class="new-body-color">
  <br />

  <ion-card class="new-background-color">
    <ion-card-header class="ion-text-center">
      <ion-card-title style="font-size: x-large;" color="light">Horse Cash</ion-card-title>
      <ion-card-subtitle style="font-size: x-large;" color="light">R$550,00</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="light" expand="block" mode="md">
      Adicionar Saldo
    </ion-button>
  </ion-card>

  <br>

  <ion-text color="medium" class="ion-text-center">
    <h1 style="font-size: x-large;">Forma de Pagamento</h1>
  </ion-text>


  <ion-button color="light" expand="full" style="font-size: large" mode="md">
    Cartão
    <ion-icon name="card-outline" slot="end"></ion-icon>
  </ion-button>

  <ion-button color="light" expand="full" style="font-size: large" mode="md">
    Dinheiro
    <ion-icon name="card-outline" slot="end"></ion-icon>
  </ion-button>

  <ion-button color="light" expand="full" style="font-size: large" mode="md">
    Apple Pay
    <ion-icon name="logo-apple" slot="end"></ion-icon>
  </ion-button>

  <ion-button color="light" expand="full" style="font-size: large" mode="md">
    PayPal
    <ion-icon name="logo-paypal"></ion-icon>
  </ion-button>
</ion-content>
