<ion-content [fullscreen]="true" class="new-body-color" mode="md">

  <br>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <!-- <img width="180" height="150" src="https://i.imgur.com/bQZLQxE.png"> -->

      <img width="130" height="130" src="https://i.imgur.com/TCvtMco.png">
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <h1>
        Horse Ride
      </h1>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>


  <br>


  <ion-item>
    <ion-label position="floating" color="dark">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating" color="dark">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>


  <br>
  <br>
  <ion-button class="login-button" expand="block" routerLink="/make-a-ride">Entrar</ion-button>

  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      Não tem uma conta?
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-button routerLink="/criar-conta" fill="clear">Criar conta</ion-button>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
