<app-header title="Ajuda"></app-header>

<ion-content [fullscreen]="true" class="new-body-color" mode="md">
  <ion-slides page="true" [options]="slideOpts">

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%201.png?alt=media&token=9bde0fc3-e5f2-419b-86e6-a375e577cd2c">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Bem Vindo ao Horse Ride!</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>A Horse Ride é uma prestadora de serviços na área do transporte privado.
              Através deste aplicativo realizamos viagens pela cidade, nosso diferencial é que usamos cavalos!</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%202.png?alt=media&token=c7969bc0-302d-441e-9c09-187d75595514">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Como pedir uma corrida?</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>Se cadastre no aplicativo e assim que terminar o cadastro você sera redirecionado para a página home do app, 
              lá você pode escolher o seu destino e realizar sua corrida.</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%203.png?alt=media&token=b6675395-f876-4724-8efd-8e7a838dd550">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Como trabalhar conosco?</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>Procure no menu do canto superior esquerdo da tela a opção <i>"seja um cavaleiro"</i> e lá você tera todas as instruções de como se tornar parte da nossa cavalgada!</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%204.png?alt=media&token=f320c5b0-8d41-477c-8bf2-fb347847278c">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Esqueceu algo na carroça?</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>Não nos responsabilizamos por nada perdido durante a viagem! Mas caso ocorra de você esquecer algo na carroça, entre em contato imediatamente com o cavaleiro/amazona que te transportou.</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%206.png?alt=media&token=2b0deb95-e1fc-41b0-b05c-70b05a1cbe90">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Tem alguma reclamação ou sugestão?</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>Queremos te ouvir! Nos envie o que tem a dizer no email: projetouberhorse@gmail.com</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <img src="https://firebasestorage.googleapis.com/v0/b/uberhorse-c5ddf.appspot.com/o/Icone%20-%20Slide%205.png?alt=media&token=da2b47f6-6de9-41ba-b841-234d974dffcf">
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <h1>Esta gostando do Horse Hide?</h1>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <p>Nos avalie na Google Play e na App Store!</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
